{%extends 'dashboard/table_base.html'%}

{% block title %} Registered Investors {% endblock %}
{% block main_heading %} Registered Investors {% endblock %}
{% block breadcrumb %} Registered Investors {% endblock %}
{% block table_heading %} Registered Investors {% endblock %}

{% block table_data %}
<thead>
    <tr>
        <th>#</th>
        <th>Name</th>
    </tr>
</thead>
<tbody>
    <tr class="modalToggle">
        <td>1</td>
        <td>Tiger Nixon</td>
    </tr>
    <tr class="modalToggle">
        <td>1</td>
        <td>Garrett Winters</td>
    </tr>
    <tr class="modalToggle">
        <td>3</td>
        <td>Ashton Cox</td>
</tbody>
{% endblock %}
