{% extends 'dashboard/base.html' %}

{% load static %}

{% block title %} {% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="{% static 'js/datatables.js' %}"></script>
<script src="{% static 'js/datatable_modal_control.js'%}"></script>
{% endblock %}

{% block main %}

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<main>
    <div class="container-fluid">
        <h1 class="mt-4">{% block main_heading %} {% endblock %}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="">Dashboard</a></li>
            <li class="breadcrumb-item active">{% block breadcrumb %} {% endblock %}</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                {% block table_heading %} {% endblock %}
            </div>
            <div class="card-body">
                <form>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            {% block table_data %} {% endblock %}
                        </table>
                        {% block button %} {% endblock %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}
